body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color:  #bdcbe2;
}

.navbar {
  background-color: #1f3456;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 70px;
  margin-right: 10px;
}

.navbar-left h1 {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
}

.navbar-right {
  display: flex;
  margin-right: 25px;
  align-items: center;
  gap: 20px;
}

.navbar-right a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .navbar-right {
      display: none;
  }

  .menu-icon {
      display: block;
  }

  .navbar-right.show-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 60px;
      text-decoration: dashed;
      right: -30px;
      background-color: #1f3456;
      padding: 20px;
      border-radius: 20px;
  }

  .navbar-right.show-links a {
      display: block;
      padding: 10px 0;
  }
}
/* HERO---SECTION */
.main_1 {
  margin-left: 18%;
  margin-top: 90px;
  margin-right: 5%;
  flex-direction: row;
  font-size: 30px;
  border: 4px dashed green;
  text-align: center;
  color: rgb(27, 24, 24);
  background-color: lightgreen;
  display: inline-flex;
  width: 90%;
  max-width: 400px;
  height: 400px;
}

.encrypt {
  display: flex;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 10px;
  height: 50px;
  width: 90%;
  max-width: 190px;
  padding-left: 13px;
  padding-right: 2px;
  font-weight: bold;
}

.main_2 {
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 20px;
  flex-direction: row;
  font-size: 30px;
  border: 4px dashed green;
  text-align: center;
  color: rgb(27, 24, 24);
  background-color: lightgreen;
  display: inline-flex;
  width: 90%;
  max-width: 400px;
  height: 400px;
}

.decrypt {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  height: 50px;
  width: 90%;
  max-width: 190px;
  padding-left: 13px;
  padding-right: 2px;
  font-weight: bold;
}

/* Reset default button styles */
button, input[type="file"] {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.container_1 {
  text-align: center;
  margin-top: 20px;
  margin-left: 90px;
}

#textbox {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

#enter-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#file-upload-label {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#file-upload {
  display: none; /* Hide the actual file input element */
}

/* Hover effect for the Enter button and Upload File label */
#enter-button:hover, #file-upload-label:hover {
  background-color: #2079b0;
}

.up_button {
  margin-top: 10px;
  font-size: 20px;
}

.or-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

/* Reset default button styles */
button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.container_2 {
  text-align: center;
  margin-top: 20px;
  margin-left: 90px; 
}

#textbox {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  font-size: 15px;
}

#download-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

/* Hover effect for the Download Result button */
#download-button:hover {
  background-color: #2079b0;
}

@media screen and (max-width: 768px) {
  /* Apply these styles for screens with a width of 768px or less */
  .main_1, .encrypt, .main_2, .decrypt {
    flex-direction: column;
    width: 90%;
    max-width: none;
    margin-left: 5%;
  }
  .container_1,.container_2{
    margin-left: 5px;
  }

}
/* ------------------------- */
/* // CSS Variables */

:root {
  --color-grey-dark: #323031;
  --color-grey-light: #d9dcd6;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .05);
}
.codepen-wrapper {
  height: 90vh;
  /* background-color: var(--color-grey-light); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.review {
  color: var(--color-grey-dark);
  font-size: 1.4rem;
  padding: 3rem;
  position: relative;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  overflow: hidden;
  flex: 0 0 50%;
  z-index: 1;
}
@media screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
 }
}
@media screen and (max-width: 37.5em) {
  .review {
    padding: 1rem;
    font-size: 1.2rem;
 }
}
.review::before {
  content: "\201c";
  position: absolute;
  left: -0.9rem;
  top: -2.5rem;
  font-size: 20rem;
  color: var(--color-grey-light);
  line-height: 1;
  z-index: 1;
  font-family: sans-serif;
}
.review__text {
  margin-bottom: 2rem;
  z-index: 2;
  position: relative;
}
@media screen and (max-width: 56.25em) {
  .review__text {
    margin: 0;
    padding: 1rem;
 }
}
.review__person {
  display: flex;
  align-items: center;
}
.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
@media screen and (max-width: 37.5em) {
  .review__photo {
    margin-right: 0.5rem;
 }
}
.review__info {
  display: flex;
  flex-flow: row wrap;
  margin-right: auto;
}
.review__info--name {
  flex: 0 0 80%;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: -0.5rem;
}
@media screen and (max-width: 37.5em) {
  .review__info--name {
    font-size: 0.9rem;
 }
}
.review__info--date {
  font-size: 0.9rem;
}
@media screen and (max-width: 37.5em) {
  .review__info--date {
    font-size: 0.7rem;
 }
}
.review__rating {
  color: var(--color-grey-dark);
  font-size: 2.2rem;
  font-weight: 300;
}
